body {
  margin: 0;
  padding: 0;
  display: flex;
  background: url("desk.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
}

.left-bar {
  width: 150px;
  background: #f2f2d3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  border-right: 3px solid #d8d2a4;
}

.color {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: transform .1s;
}

.color:hover {
  transform: scale(1.1);
}

.notepad-wrapper {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#notepad-img {
  width: 650px;
  user-select: none;
  pointer-events: none;
}


#pad {
  position: absolute;
  width: 650px;
  height: 850px; 
  cursor: crosshair;
  pointer-events: auto;
}
